In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# Load the dataset
data = pd.read_excel('Online retail.xlsx')
data.head()

  shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                             burgers,meatballs,eggs
1                                            chutney
2                                     turkey,avocado
3  mineral water,milk,energy bar,whole wheat rice...
4                                     low fat yogurt

In [10]:
# Split each transaction into a list of items and strip any leading/trailing whitespace
data['items'] = data.iloc[:, 0].str.split(',').apply(lambda x: [item.strip() for item in x])

# Ensure each item list contains unique items
data['items'] = data['items'].apply(lambda x: list(set(x)))

data.head()

,"shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil",items
0,"burgers,meatballs,eggs","[burgers, meatballs, eggs]"
1,chutney,[chutney]
2,"turkey,avocado","[avocado, turkey]"
3,"mineral water,milk,energy bar,whole wheat rice...","[whole wheat rice, milk, mineral water, green ..."
4,low fat yogurt,[low fat yogurt]

In [11]:
data.shape

(7500, 2)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 2 columns):
 #   Column                                                                                                                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                           --------------  -----
 0   shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil  7500 non-null   object
 1   items                                                                                                                                                                                                                            7500 non-null   object
dtypes: object(2)
memory usage: 117.3+ KB

In [13]:
data.isnull().sum()

shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil    0
items                                                                                                                                                                                                                              0
dtype: int64

In [15]:
# Create a list of all unique items
all_items = list(set(item for sublist in data['items'] for item in sublist))

# One-hot encode the transactions
encoded_data = pd.DataFrame(0, index=data.index, columns=all_items)

# unique is refered as 1 and 0 for non unique
for index, items in data['items'].items():
    encoded_data.loc[index, items] = 1
encoded_data

,sandwich,light mayo,chili,french wine,white wine,fresh bread,turkey,mint green tea,flax seed,frozen vegetables,...,tomato juice,strong cheese,spaghetti,vegetables mix,yams,pet food,black tea,frozen smoothie,candy bars,body spray
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7496,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [18]:
# Create a list of all unique items
all_items = list(set(item for sublist in data['items'] for item in sublist))
all_items

['sandwich',
 'light mayo',
 'chili',
 'french wine',
 'white wine',
 'fresh bread',
 'turkey',
 'mint green tea',
 'flax seed',
 'frozen vegetables',
 'bug spray',
 'hot dogs',
 'salmon',
 'salt',
 'energy drink',
 'cookies',
 'gluten free bar',
 'soda',
 'pasta',
 'dessert wine',
 'ketchup',
 'barbecue sauce',
 'protein bar',
 'mashed potato',
 'nonfat milk',
 'shallot',
 'butter',
 'corn',
 'toothpaste',
 'champagne',
 'napkins',
 'cake',
 'cooking oil',
 'herb & pepper',
 'magazines',
 'shampoo',
 'antioxydant juice',
 'ham',
 'ground beef',
 'hand protein bar',
 'low fat yogurt',
 'melons',
 'tea',
 'spinach',
 'mayonnaise',
 'whole wheat pasta',
 'french fries',
 'cauliflower',
 'strawberries',
 'cream',
 'eggplant',
 'pickles',
 'mineral water',
 'shrimp',
 'oatmeal',
 'chutney',
 'honey',
 'oil',
 'pancakes',
 'rice',
 'bramble',
 'red wine',
 'chocolate',
 'brownies',
 'meatballs',
 'green grapes',
 'chocolate bread',
 'whole weat flour',
 'soup',
 'olive oil',
 'water spray',
 'fromage blanc',
 'cider',
 'almonds',
 'mint',
 'parmesan cheese',
 'gums',
 'milk',
 'fresh tuna',
 'pepper',
 'sparkling water',
 'extra dark chocolate',
 'yogurt cake',
 'zucchini',
 'burgers',
 'green beans',
 'tomatoes',
 'asparagus',
 'bacon',
 'carrots',
 'mushroom cream sauce',
 'salad',
 'avocado',
 'grated cheese',
 'chicken',
 'whole wheat rice',
 'escalope',
 'cottage cheese',
 'babies food',
 'eggs',
 'cereals',
 'blueberries',
 'green tea',
 'tomato sauce',
 'clothes accessories',
 'energy bar',
 'light cream',
 'burger sauce',
 'muffins',
 'tomato juice',
 'strong cheese',
 'spaghetti',
 'vegetables mix',
 'yams',
 'pet food',
 'black tea',
 'frozen smoothie',
 'candy bars',
 'body spray']

In [23]:
# One-hot encode the transactions
encoded_data = pd.DataFrame(0, index=data.index, columns=all_items)
encoded_data.head()

,sandwich,light mayo,chili,french wine,white wine,fresh bread,turkey,mint green tea,flax seed,frozen vegetables,...,tomato juice,strong cheese,spaghetti,vegetables mix,yams,pet food,black tea,frozen smoothie,candy bars,body spray
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
# unique is refered as 1 and 0 for non unique
for index, items in data['items'].items():
    encoded_data.loc[index, items] = 1
encoded_data

,sandwich,light mayo,chili,french wine,white wine,fresh bread,turkey,mint green tea,flax seed,frozen vegetables,...,tomato juice,strong cheese,spaghetti,vegetables mix,yams,pet food,black tea,frozen smoothie,candy bars,body spray
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7496,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

# Association Rules

In [25]:
from mlxtend.frequent_patterns import apriori, association_rules

# Apply the Apriori algorithm
frequent_itemsets = apriori(encoded_data, min_support=0.01, use_colnames=True)
frequent_itemsets

#frequent_itemsets = apriori(encoded_data, min_support=0.01, use_colnames=False)
#frequent_itemsets

In [27]:
# Generate the association rules
rules1 = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)
rules1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(mineral water),(fresh bread),0.238267,0.043067,0.013333,0.055960,1.299374,0.003072,1.013657,0.302466
1,(fresh bread),(mineral water),0.043067,0.238267,0.013333,0.309598,1.299374,0.003072,1.103318,0.240768
2,(mineral water),(turkey),0.238267,0.062533,0.019200,0.080582,1.288624,0.004300,1.019631,0.294038
3,(turkey),(mineral water),0.062533,0.238267,0.019200,0.307036,1.288624,0.004300,1.099240,0.238919
4,(chocolate),(turkey),0.163867,0.062533,0.011333,0.069162,1.106001,0.001086,1.007121,0.114625
...,...,...,...,...,...,...,...,...,...,...
403,"(spaghetti, eggs)",(chocolate),0.036533,0.163867,0.010533,0.288321,1.759486,0.004547,1.174875,0.448020
404,"(chocolate, eggs)",(spaghetti),0.033200,0.174133,0.010533,0.317269,1.821989,0.004752,1.209652,0.466642
405,(spaghetti),"(chocolate, eggs)",0.174133,0.033200,0.010533,0.060490,1.821989,0.004752,1.029047,0.546274
406,(chocolate),"(spaghetti, eggs)",0.163867,0.036533,0.010533,0.064280,1.759486,0.004547,1.029653,0.516248
407,(eggs),"(spaghetti, chocolate)",0.179733,0.039200,0.010533,0.058605,1.495034,0.003488,1.020613,0.403672

In [28]:
rules2 = rules1[["antecedents","consequents","support","confidence","lift"]]
rules2

           antecedents             consequents   support  confidence      lift
0      (mineral water)           (fresh bread)  0.013333    0.055960  1.299374
1        (fresh bread)         (mineral water)  0.013333    0.309598  1.299374
2      (mineral water)                (turkey)  0.019200    0.080582  1.288624
3             (turkey)         (mineral water)  0.019200    0.307036  1.288624
4          (chocolate)                (turkey)  0.011333    0.069162  1.106001
..                 ...                     ...       ...         ...       ...
403  (spaghetti, eggs)             (chocolate)  0.010533    0.288321  1.759486
404  (chocolate, eggs)             (spaghetti)  0.010533    0.317269  1.821989
405        (spaghetti)       (chocolate, eggs)  0.010533    0.060490  1.821989
406        (chocolate)       (spaghetti, eggs)  0.010533    0.064280  1.759486
407             (eggs)  (spaghetti, chocolate)  0.010533    0.058605  1.495034

[408 rows x 5 columns]

In [29]:
rules3 = rules2[(rules2["confidence"] >= 0.5) & (rules2["support"] >= 0.01) & (rules2["lift"] >= 1.5)]
rules3

             antecedents      consequents   support  confidence      lift
328  (ground beef, milk)  (mineral water)  0.011067    0.503030  2.111207
334  (eggs, ground beef)  (mineral water)  0.010133    0.506667  2.126469

# Interpretation
#### There are 2 strong association given above after setting the approprate threshold, support and lift.

### What is Lift and Why is it Important in Association Rules?
Lift is a key metric in Association Rule Mining that measures the strength of a rule by comparing the observed co-occurrence of items to their expected co-occurrence if they were independent. It helps determine whether the presence of one item increases or decreases the likelihood of another item appearing in a transaction.

### 2.	What is support and Confidence. How do you calculate them?
Support and Confidence are key metrics in association rule mining, commonly used in market basket analysis.

Support measures how frequently an itemset appears in the dataset. It is calculated as:

Support
(
𝑋
)
=
Frequency of transactions containing 
𝑋
Total transactions
Support(X)= 
Total transactions
Frequency of transactions containing X
​
 
Higher support indicates a more common pattern in the dataset.

Confidence indicates the likelihood that a rule 
𝑋
⇒
𝑌
X⇒Y holds true, given that 
𝑋
X has occurred. It is calculated as:

Confidence
(
𝑋
⇒
𝑌
)
=
Support
(
𝑋
∪
𝑌
)
Support
(
𝑋
)
Confidence(X⇒Y)= 
Support(X)
Support(X∪Y)
​
 
A higher confidence value means that when 
𝑋
X occurs, 
𝑌
Y is likely to occur as well.

Both metrics help in identifying strong associations and patterns in data.

###  What Are Some Limitations or Challenges of Association Rule Mining?
High Computational Cost:

The number of possible itemsets grows exponentially with the number of items, making it computationally expensive.
Many Uninteresting Rules:

Some rules may have high support and confidence but may not be useful in practice (e.g., trivial correlations).
Difficulty in Setting Thresholds:

Choosing appropriate thresholds for support, confidence, and lift can be challenging and domain-specific.
Rare Item Problem:

Items with low support may be ignored, even if they have strong associations.
Handling Continuous Data:

Association rule mining is better suited for categorical data; continuous data must be discretized, which can lead to loss of information.
Lack of Causality:

Association rules identify correlations, but they do not imply causation.
Would you like more examples or elaboration on any of these points?